<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <page size="A4"></page>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Resume</title>
    <style>
        .outer{
            width:100%;
            height: auto;
            margin: 0px auto;
            padding: 2%;
        }
        .outer h1{
            text-align: center;
        }
        
       
    </style>
</head>
<body>
    <div class="outer">
        <h1>Resume</h1>
        <h2 class="text">{{name}}</h2>
        <div class="maybe" >
            <div class="timer">
                <p >Address  &emsp; : &emsp;  {{address}}   </p>
                <p > Mail-Id &emsp;   :  &emsp;  {{email}}  </p>
                <p > Contact  &emsp;  :  &emsp;  {{contect}}  </p>
               
        </div>
        <div>
            <h3>Career Objective:</h3>
            <p style="font-size: 17px;">{{objective}} 
            </p>
        </div>
        <div>
            <h3>Academic Qualification:</h3>
            <table border="1px" width="90%" cellpadding="6px" align="center">
                <tr>
                    <th>Qualification</th>
                    <th>Year</th>
                    <th>Bord/College/University </th>
                </tr>
                <tr>
                    <td>Master of Arts (MA)</td>
                    <td>2021</td>
                    <td>University of rajasthan </td>
                </tr>
                <tr>
                    <td>Bachelor of Arts (BA)</td>
                    <td>2019</td>
                    <td>University of Rajasthan </td>
                </tr>
                <tr>
                    <td>Senior Secondary</td>
                    <td>2016</td>
                    <td>RBSE </td>
                </tr>
                <tr>
                    <td> Secondary</td>
                    <td>2014</td>
                    <td>RBSE </td>
                </tr>

            </table>
        </div>
        <div>
            <h3>Computer Knowledge:</h3>
            <ul>
                <li>Basic Knowledge</li>
                <li>RSCIT Certified</li>
                <li>Typing Skills In English and Hindi</li>
                            

            </ul>
                
        </div>

        <div class="maybe">
            <div class="comfort">
                <h3>Work experience:</h3>
                <ul> 
                    <li>Employee in Allaince Francaise Embassy</li>
                </ul>
            </div>
            <div class="com">
                <h3 style="text-decoration: none;">Duration</h3>
                <p style="margin: 0px; font-size: 17px;"> 2 years</p>
            </div>
        </div>

        
            <h4 >Personal Detail:</h4>
            <div class="maybe" ">
                <div class="timer">
                    <p >Father's name &emsp;   :  &emsp; Chhote Lal Bairwa</p>
                    <p >Mother’s Name &emsp;: &emsp;  Reshma Devi</p>
                    <p >Date of Birth &emsp; : &emsp; 01 Jan 1998</p>
                    <p >Marital Status &emsp; : &emsp; married </p>
                    <p >Language Known &emsp; : &emsp; English and Hindi</p>

                </div>
            </div>
        

        <div>
            <h3>Declaration:</h3>
            <p>I hereby declare that the above information is true and correct to the best of knowledge. </p>
            <div class="content">
            <p>Date:</p>
            <p>place:</p>
            </div>
            <div class="container">
                <p>Jahanvi mathur</p>

            </div>
        </div>
    </div>

    
    
</body>
</html>